<nav class="a-bg-dashboard sticky p-l-0-5 p-t-0-5 p-b-0-5 f-0-9 flex">
    <a href="/alice/dashboard" class="mod-underline-no f-white">Alice ERP</a>
    <a href="/" class="mod-underline-no f-white m-l-1">
        <div class="icon-home">
            <div class="icon-home-body" style="background-color: #E5E9EA"></div>
            <div class="icon-home-roof-cut-left"></div>
            <div class="icon-home-roof-cut-right"></div>
            <div class="icon-home-door"></div>
            <div class="icon-home-chimney" style="background-color: #E5E9EA"></div>
            <div class="icon-home-roof-container">
                <div class="icon-home-roof-left" style="background-color: #E5E9EA"></div>
                <div class="icon-home-roof-right" style="background-color: #E5E9EA"></div>
            </div>    
        </div>    
    </a>

</nav>