<nav id='a-nav-sidebar' class='a-nav-sidebar'>
    <div class='a-nav-sidebar-sticky'>
        <ul class='t'>
            <li class='nav-item'><a href='/alice/dashboard' id="a-dashboard" class='f-0-8'>Dashboard</a></li>            
            <li class='nav-item'><a href='/alice/dashboard/erpcreate' class='f-0-8'>ERP Create</a></li>            
            <li class='nav-item'><a href='/alice/dashboard/setting' class='f-0-8'>Settings</a></li>            
            </li>
        </ul>
    </div>
</nav>