<a href='/init'>CLICK HERE FIRST to create new Admin User</a><br>
{{> message}}
<a href='login'>Login</a>
<div>
    <form action='/logout' method='post'>
        <button type='submit' class='btn-link-menu f-0-9 text-decoration-none hover-underline m-r-2 f-white'>Logout</button>
    </form>    
</div>