<div class='a-main f-0-8 p-t-1'>

Settings

    <div class='p-b-1'>
        Create Super Admin User
        {{> message}}
        <form action='setting/superadmin' method='post'>
            <input type='text' name='username' placeholder='Enter New Username'>
            <input type='password' name='password' placeholder='Enter New User password'>
            <button type='submit'>Create Super Admin User</button>
        </form>
    </div>
    <div class='p-b-1'>
        Delete Super Admin User<br>
        {{#each userSuperAdmin}}
            {{username}} 
            <form action='setting/superadmindelete/{{username}}' method='post'>
                <button class='a-btn a-ft' type='submit' name='collection' value='{{username}}'>Delete</button>
            </form>          
            <br>
        {{/each}}
    </div>
</div>