{{> message}}
<div class="form">
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Enter your Username">
        <input type="password" name="password" placeholder="Enter your Password">
        <button type="submit">Login now</button>
    </form>
</div>
<div class="r"><a href="/account/register" class="f-0-8">Register</a></div>