<div class="a-main f-0-8 p-t-1">
    <div>
        Homepage: Modify<br>
        Frontend: View <a href='erpcreate/homepageview' class='f-white'>Homepage View</a><br>

        Backend: Logic<br>
    </div>
    <div>
        Create New Page

    </div>
</div>